.header {
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 80px;
  padding-bottom: 40px;
}

.header__span_accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title {
  max-width: 709px;
  margin-bottom: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__footer {
  margin-top: auto; /* empuja al fondo del header */
  display: grid;
  grid-template-columns: 1fr auto; /* izquierda: textos; derecha: dirección */
  column-gap: 40px; /* separación 40px (mockup) */
  row-gap: 8px;
  align-items: end;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.header__paragraph:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.header__paragraph:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.header__paragraph:nth-child(4) {
  grid-column: 2;
  grid-row: 3;
  justify-self: end;
}
