.recipes {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 100px;
  padding-bottom: 215px;
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  margin-bottom: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
}

.recipes__subtitle {
  max-width: 438px;
  margin-bottom: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  margin: auto;
  justify-content: center;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  margin-bottom: 24px;
  display: flex;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
}
