.reservation {
  background-image: url(/images/background_reservation.svg);
  background-size: cover;
  background-color: #d9e7ff;
  padding-bottom: 120px;
  padding-top: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.reservation__title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
}

.reservation__form {
  max-width: 385px;
}
