@import url(../vendor/normalize.css);
@import url(../blocks.css/page.css);
@import url(../blocks.css/header.css);
@import url(../blocks.css/nav.css);
@import url(../blocks.css/recipes.css);
@import url(../blocks.css/reservation.css);
@import url(../blocks.css/form.css);
@import url(../blocks.css/footer.css);

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
